[submodule "vendor/mr"]
	path = vendor/mr
	url = git://github.com/apik/mr.git
	ignore = dirty
[submodule "vendor/LoopTools"]
	path = vendor/LoopTools
	url = git://github.com/HEPcodes/LoopTools.git
[submodule "private"]
	path = private
	url = https://github.com/misho104/leptogenesis_option_private
